{
  "name": "~Name~",
  "description" : "~Description~",
  "type": "~Type~",
  "subtype": "",
  "credentials": {
    "connectionString": "~ConnectionString~"
  },
  "container": {
    "name": "~ContainerName~",
    "query": "~Query~"
  },
  "dataChangeDetectionPolicy": null,
  "dataDeletionDetectionPolicy": null
}